<style>
 
  .footer {
      padding: 10px 0; /* Espaçamento interno do footer */
      position: fixed; /* Fixar o rodapé na parte inferior */
      bottom: 0; /* Definir como fixo no fundo */
      width: 100%; /* Fazer o rodapé ocupar toda a largura */
      text-align: center; /* Centralizar o conteúdo */
  }
</style>
<footer class="footer mt-auto py-3 text-center">
  <footer class="footer">
    <div class="container">
        <span class="text-muted">© 2024 SGE</span>
    </div>
</footer>
  </footer>